# Integration Python with MySQL in 2 ways;

**mysql package**

**pymysql package**

## MySQL Connection using 'mysql' and 'mysql-connector-python'

In [12]:
!pip install mysql
# Requirement already satisfied: mysqlclient in c:\users\abhisai\anaconda3\lib\site-packages (from mysql) (2.1.1)

Requirement already satisfied: mysql in c:\users\abhisai\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\abhisai\anaconda3\lib\site-packages (from mysql) (2.1.1)

WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)

In [13]:
!pip install mysql-connector-python
# Collecting mysql-connector-python, Downloading mysql_connector_python-8.0.31-cp39-cp39-win_amd64.whl (7.9 MB)
# Successfully installed mysql-connector-python-8.0.31 protobuf-3.20.1

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp39-cp39-win_amd64.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 53.9 kB/s eta 0:00:00
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-cp39-cp39-win_amd64.whl (904 kB)
     ------------------------------------- 904.1/904.1 kB 30.1 kB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
Successfully installed mysql-connector-python-8.0.31 protobuf-3.20.1

WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-api-core 2.10.2 requires protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5, but you have protobuf 3.20.1 which is incompatible.
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)

In [20]:
#import mysqlconnectoronnector library
import mysql
import mysql.connector

In [33]:
#you need to call this fn to connect to mysql and store this in variable called mydb
# import mysql.connector as sql_db 

mydb = mysql.connector.connect( 
    host = "127.0.0.1",
    user="root",    
    passwd="Enter_Pwd",
    database ="predicted_outputs"
)
# mycursor = mydb.cursor()
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023D43C859D0>

In [34]:
mycursor = mydb.cursor()

In [36]:
# To see the Data in customers column
mycursor.execute("SELECT * FROM ....")  # first create one table and do the analysis

## MySQL connection using 'pymysql'

In [37]:
!pip install pymysql
# Requirement already satisfied: pymysql in c:\users\abhisai\anaconda3\lib\site-packages (1.0.2)

Requirement already satisfied: pymysql in c:\users\abhisai\anaconda3\lib\site-packages (1.0.2)

WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\abhisai\anaconda3\lib\site-packages)

In [1]:
import pandas as pd
import numpy as np

import pymysql

In [2]:
conn = pymysql.connect(
    user = 'root',
    password = 'Sid@9619',
    database = 'predicted_outputs'

)
print(conn)

<pymysql.connections.Connection object at 0x000001CE76929640>

In [3]:
# MyCursor (Why do we need cursor in MySQL) Cursor helps to establish connection with MySQL db
# Its just like an object, It will help you go with all the databases, command providing for execution, Insertion
# Basically its connector which is used to execute the satement, to communicate with MySQL database

cursor = conn.cursor()

From now on, we can proceed by typing and executing SQL queries from Jupyter before that, we will create a table in our database.

# Load the df_new_obs which i have stored as feather file

In [4]:
# my_df

df_new_obs = pd.read_feather("df_new_obs.feather")
## NOTE : the Size if less of feather data file < than CSV file  (LOAD + SAVE time is VERY less)

In [5]:
df_new_obs

,Reason_1,Reason_2,Reason_3,Reason_4,Month_Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Probability,Prediction
0,0,0,0,1,6,179,30,19,1,0,0,0.237107,0
1,1,0,0,0,6,361,28,27,0,1,4,0.871285,1
2,0,0,0,1,6,155,34,25,0,2,0,0.448511,0
3,0,0,0,1,6,179,40,22,1,2,0,0.360140,0
4,1,0,0,0,6,155,34,25,0,2,0,0.721178,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,1,0,0,0,7,289,33,30,0,2,1,0.913706,1
36,1,0,0,0,7,235,37,29,1,1,1,0.749982,1
37,0,0,0,0,7,118,40,34,0,1,8,0.016180,0
38,0,0,0,0,7,231,39,35,0,2,2,0.247648,0
39,0,0,0,0,7,179,53,25,0,1,1,0.060545,0

# Transferring Data from Jupyter to Workbench – Part I & II 
**! Running an SQL SELECT Statement from Python**

creating a query we will store as a string variable in Python and then use as an argument of the execute method.

the execute method that will move our data to the predicted outputs table in workbench.

If we had to type the entire statement manually, it would take too much time and we may unintentionally input many wrong values.

Using iteration in Python in the following way

Creating a structure that will insert the rose information from df_new_obs into a row in our database in MySQL.

In [6]:
cursor.execute('SELECT * FROM predicted_outputs;')

0

## Creating the INSERT Statememt

In [7]:
insert_query = 'INSERT INTO predicted_outputs VALUES'
insert_query

'INSERT INTO predicted_outputs VALUES'

**Experimentation in order to develop loop logic:**

In [8]:
df_new_obs.shape

(40, 13)

In [9]:
df_new_obs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month_Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Probability', 'Prediction'], dtype=object)

In [10]:
# extract column 'Age' from above
df_new_obs.columns[6]

'Age'

In [11]:
# Now Extract Age column values aswell!
df_new_obs['Age']

0     30
1     28
2     34
3     40
4     34
5     28
6     46
7     30
8     37
9     37
10    36
11    50
12    31
13    30
14    48
15    33
16    50
17    30
18    40
19    30
20    37
21    31
22    37
23    37
24    31
25    43
26    31
27    58
28    37
29    58
30    33
31    37
32    28
33    28
34    31
35    33
36    37
37    40
38    39
39    53
Name: Age, dtype: int64

In [12]:
# Now Extract Age columns 0th index value
df_new_obs[df_new_obs.columns.values[6]][0]

30

In [13]:
print('for rows: ', df_new_obs.shape[0])  # rows
print('for columns: ', df_new_obs.shape[1])  # columns

for rows:  40
for columns:  13

# Looping the entire logic now

## Insert_query appending data with for loop using df_new_obs data file...

**Instead of trying to interpret it element by element, it would be more helpful if I provided a more holistic explanation.**

1. My iteration should go through every row of D.F. new observations.

- substituting the indexes with the letters that was used for iteration over columns and rows, they are J and I respectively.

2. the insert query syntax requires each row I to end with parentheses and not comma

- insert_query = insert_query[ : -2] + '), ' 
- it replaces these two characters with a close parentheses and a comma.

3. Finally: insert_query = insert_query[:-2] + ';' 
- Will remove the last two characters from our insert query and then add a semicolon at the end and as we check the content of the same variable

In [14]:
for i in range(df_new_obs.shape[0]):
    insert_query += '('
    
    for j in range(df_new_obs.shape[1]):
        insert_query += str(df_new_obs[df_new_obs.columns.values[j]][i]) + ', '
        
    insert_query = insert_query[ : -2] + '), '

In [15]:
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.23710667598022886, 0), (1, 0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8712854884011764, 1), (0, 0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.44851077864737643, 0), (0, 0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.36013965441991963, 0), (1, 0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7211783299012042, 1), (1, 0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7097026614448045, 1), (1, 0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5678880252396125, 1), (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.23710667598022886, 0), (0, 0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.24970277775605934, 0), (1, 0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5141975621642136, 1), (0, 0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.6526964495967181, 1), (0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.2858032255635709, 0), (0, 0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.10074167088278621, 0), (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.23710667598022886, 0), (0, 0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.07443207524915826, 0), (0, 0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.15831603166019192, 0), (0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.2858032255635709, 0), (1, 0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.4970989228123216, 0), (0, 0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.5908221724809296, 1), (1, 0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.4974944524068378, 0), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.24999931574267287, 0), (0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.10088509416223551, 0), (1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5145927754634233, 1), (1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5145927754634233, 1), (0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.10088509416223551, 0), (0, 0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.7051443953059972, 1), (0, 0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.10088509416223551, 0), (1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6376982274564128, 1), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.24999931574267287, 0), (1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6376982274564128, 1), (0, 0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.4145345562870802, 0), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.24999931574267287, 0), (0, 0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.6806914783258143, 1), (0, 0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.43499966464223216, 0), (1, 0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9684533869456, 1), (1, 0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9137060341349956, 1), (1, 0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.749981513321215, 1), (0, 0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.016180108224711012, 0), (0, 0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.24764753588140084, 0), (0, 0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.060545386002746546, 0), '

3. Finally: insert_query = insert_query[:-2] + ';'

Removing the last 2 characters from insert query and then adding a semicolon at the end and as to check the content of the same variable

In [16]:
insert_query = insert_query[:-2] + ';'

In [17]:
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.23710667598022886, 0), (1, 0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8712854884011764, 1), (0, 0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.44851077864737643, 0), (0, 0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.36013965441991963, 0), (1, 0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7211783299012042, 1), (1, 0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7097026614448045, 1), (1, 0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5678880252396125, 1), (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.23710667598022886, 0), (0, 0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.24970277775605934, 0), (1, 0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5141975621642136, 1), (0, 0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.6526964495967181, 1), (0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.2858032255635709, 0), (0, 0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.10074167088278621, 0), (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.23710667598022886, 0), (0, 0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.07443207524915826, 0), (0, 0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.15831603166019192, 0), (0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.2858032255635709, 0), (1, 0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.4970989228123216, 0), (0, 0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.5908221724809296, 1), (1, 0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.4974944524068378, 0), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.24999931574267287, 0), (0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.10088509416223551, 0), (1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5145927754634233, 1), (1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5145927754634233, 1), (0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.10088509416223551, 0), (0, 0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.7051443953059972, 1), (0, 0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.10088509416223551, 0), (1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6376982274564128, 1), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.24999931574267287, 0), (1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6376982274564128, 1), (0, 0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.4145345562870802, 0), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.24999931574267287, 0), (0, 0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.6806914783258143, 1), (0, 0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.43499966464223216, 0), (1, 0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9684533869456, 1), (1, 0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9137060341349956, 1), (1, 0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.749981513321215, 1), (0, 0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.016180108224711012, 0), (0, 0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.24764753588140084, 0), (0, 0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.060545386002746546, 0);'

### have prepared a string to deliver to MySQL.!

# Transferring Data from Jupyter to Workbench - Part III

In [18]:
# execute method to our cursor with the insert query as an argument.
cursor.execute(insert_query)
# output cell in Python indicates that we've added 40 new records

40

## COMMIT (To finalize whatever done!)

In [19]:
# To fill in the predicted output's table with information.
conn.commit()

## CLOSE (To conclude,once finished working with connection)

In [20]:
conn.close()

# Saving the df_new_obs into "Absenteeism_predictions.CSV" file for futher analysis in 'Tableau' for Data visualizations

## think of a way to load this data in Tableau.

substituting this automatic process with a manual one,storing this dataset as a CSV file,

In [21]:
df_new_obs.to_csv('Absenteeism_predictions.csv', index=False)

In [22]:
Absenteeism_predictions = pd.read_csv('Absenteeism_predictions.csv')
Absenteeism_predictions

,Reason_1,Reason_2,Reason_3,Reason_4,Month_Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Probability,Prediction
0,0,0,0,1,6,179,30,19,1,0,0,0.237107,0
1,1,0,0,0,6,361,28,27,0,1,4,0.871285,1
2,0,0,0,1,6,155,34,25,0,2,0,0.448511,0
3,0,0,0,1,6,179,40,22,1,2,0,0.360140,0
4,1,0,0,0,6,155,34,25,0,2,0,0.721178,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,1,0,0,0,7,289,33,30,0,2,1,0.913706,1
36,1,0,0,0,7,235,37,29,1,1,1,0.749982,1
37,0,0,0,0,7,118,40,34,0,1,8,0.016180,0
38,0,0,0,0,7,231,39,35,0,2,2,0.247648,0
39,0,0,0,0,7,179,53,25,0,1,1,0.060545,0

In [23]:
Absenteeism_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Reason_1                40 non-null     int64
 1   Reason_2                40 non-null     int64
 2   Reason_3                40 non-null     int64
 3   Reason_4                40 non-null     int64
 4   Month_Value             40 non-null     int64
 5   Transportation Expense  40 non-null     int64
 6   Age                     40 non-null     int64
 7   Body Mass Index         40 non-null     int64
 8   Education               40 non-null     int64
 9   Children                40 non-null     int64
 10  Pets                    40 non-null     int64
 11  Probability             40 non-null     float64
 12  Prediction              40 non-null     int64
dtypes: float64(1), int64(12)
memory usage: 4.2 KB